// variable color

$opposite-color: #35a22c;
$theme-color: #0ea8cf;
$secondary-color: #35a22c;
$opposite-color: #35a22c;
$text-color: #585858;
$title-color: #1a1d2d;
$white-color: #ffffff;
$light-bg-color: #f6f6f6;
